# Ignore all Rust build targets
**/target/

# IDE/editor specific
.idea/
.vscode/
.gradle/
.DS_Store
.classpath
.project

# Build artifacts
/dist/
/build/
/example/
/test/

# Node.js
/node_modules/
src/node_modules/
src/**/node_modules/
todo_utils